{{ define "youporn" }}
{{ range . }}
<div id="{{.ID}}" class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <svgc class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect fill="#55595c" width="100%" height="100%"/>
            <text fill="#eceeef" dy=".3em" x="50%" y="50%"><img src="{{.DefaultThumb}}" style="width:100%"></text>
        </svgc>
        <div class="card-body">
            <p class="card-text"><b><a href="/youporn/{{.ID}}.html">{{.Title}}</a></b></p>
            {{ range .Tags }}
                <a href="/{{.Name}}.html">{{.Name}}</a>
            {{ end }}
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{.Duration}} mins</small>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}