{{ range . }}
<div id="{{printf "%.0f" .video.video_id}}" class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <a class="text-dark" href="/tube8/{{printf "%.0f" .video.video_id}}.html">
        <svgc class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <rect fill="#55595c" width="100%" height="100%"/>
            <text fill="#eceeef" dy=".3em" x="50%" y="50%"><img loading="lazy" class="rounded" src="{{ToImageProxy .video.default_thumb}}" style="width:100%" alt="{{.title}}"></text>
        </svgc>
        </a>
        <div class="card-body">
            <p class="card-text"><b><a class="text-dark" href="/tube8/{{printf "%.0f" .video.video_id}}.html">{{.title}}</a></b></p>
            {{ range .tags }}
                <div class="d-inline-block p-1 m-1 bg-light text-uppercase">
                    <small>
                        <a class="text-dark" href="/{{.}}.html">{{.}}</a>
                    </small>
                </div>
            {{ end }}
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{.video.duration}} secs</small>
            </div>
        </div>
    </div>
</div>
{{ end }}