{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{.PageMetaDesc}}">
    <meta name="theme-color" content="#FFFFFF"/>
    {{ if .Thumb }}
    <meta property="og:type" content="video">
    <meta property="og:title" content="{{.PageTitle}}"/>
    <meta property="og:image" content="{{ToImageProxy .Thumb}}"/>
    <meta property="og:url" content="{{.Url}}"/>
    <meta name="twitter:card" content="player"/>
    <meta name="twitter:site" content="@Just_Tit"/>
    <meta name="twitter:title" content="{{.PageTitle}}"/>
    <meta name="twitter:image" content="{{ToImageProxy .Thumb}}"/>
    <meta name="twitter:domain" content="{{.Domain}}"/>
    <meta name="twitter:player" content="{{.Url}}?tp=true"/>
    <meta name="twitter:player:width" content="{{.Width}}"/>
    <meta name="twitter:player:height" content="{{.Height}}"/>
    {{ end }}
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/just-tit-s3/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>{{.PageTitle}}</title>
</head>
<body>
<header>
    <div class="collapse bg-white" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-dark">About just-tit.com</h4>
                    <p class="text-muted">This is a personal project, developed in Go and running at AWS Lambda. I
                        hope
                        you enjoy it!</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-dark">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/dsmatilla" class="text-dark">Follow author on Twitter</a>
                        </li>
                        <li><a href="https://github.com/dsmatilla" class="text-dark">My github</a></li>
                        <li><a href="mailto:just-tit@esdis.es" class="text-dark">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light bg-white shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center"><span class="d-none">Just-tit</span><img
                        src="https://s3-us-west-1.amazonaws.com/just-tit-s3/just-tit.png" alt="Just-tit logo" width="150px" height="50px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main" style="min-height: 600px;">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <p>
            <form action="/" method="get">
                <input title="Search" id="search" type="text" name="s">
                <button type="submit" value="Search">Search</button>
            </form>
            </p>
        </div>
    </section>
    {{ if .Result.Flag }}
        {{ template "container" .Result }}
    {{ end }}
    {{ if .Embed }}
        {{ template "container" .Embed }}
    {{ end }}
</main>

<footer class="d-flex justify-content-center mt-auto bg-dark text-center footer">
    <div class="d-flex justify-content-between col-md-5 col-md-offset-2 mb-3 mt-5">
    <span class="text-muted">
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/pornhub.png" alt="Pornhub logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/redtube.png" alt="Redtube logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/youporn.png" alt="Youporn logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/tube8.png" alt="Tube8 logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/spankwire.png" alt="Spankwire logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/xtube.png" alt="Xtube logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/extremetube.png" alt="Extremetube logo" width="150px" height="50px" />
        <img loading="lazy" src="https://s3-us-west-1.amazonaws.com/just-tit-s3/keezmovies.png" alt="Keezmovies logo" width="150px" height="50px" />
    </span>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106943798-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-106943798-2');
</script>
<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
        integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
        crossorigin="anonymous" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous" async></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous" async></script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
    }
</script>
</body>
</html>
{{ end }}